@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/* remove input number arrow if need */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

*,
*::after,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body,
html {
  min-height: 100%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185deg, 41%, 84%);
}

h1 {
  font-size: inherit;
  text-transform: uppercase;
  color: hsl(186deg, 14%, 43%);
  text-align: center;
  letter-spacing: 0.3rem;
  margin: 2rem 0 3rem;
}

h2 {
  font-size: initial;
}

.container {
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1rem);
          flex: 1 1 calc(50% - 1rem);
}
.main__bill {
  color: hsl(186deg, 14%, 43%);
}

.bill {
  margin-bottom: 1rem;
}
.bill__header {
  margin-bottom: 1rem;
}
.bill__input {
  position: relative;
}
.bill__input input {
  font-size: 24px;
  width: 100%;
  padding: 0 1rem 0 2.5rem;
  background-color: hsl(189deg, 41%, 97%);
  text-align: right;
  border-radius: 0.3rem;
  font-family: inherit;
  color: hsl(183deg, 100%, 15%);
}
.bill__input input::-webkit-input-placeholder {
  opacity: 1;
}
.bill__input input::-moz-placeholder {
  opacity: 1;
}
.bill__input input:-ms-input-placeholder {
  opacity: 1;
}
.bill__input input::-ms-input-placeholder {
  opacity: 1;
}
.bill__input input::placeholder {
  opacity: 1;
}
.bill__input::before {
  position: absolute;
  left: 1rem;
  top: 0;
}
.bill__input.people-count::before {
  content: url(../images/icon-person.svg);
}
.bill__input.total-cost::before {
  content: url(../images/icon-dollar.svg);
}

.tip__header {
  margin-bottom: 1rem;
}

.cards {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards__item {
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: center;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
}
.cards__item:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
}
.cards__item:has(input[type=radio]:checked) {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
.cards__item:has(input[type=number]:focus) {
  border: 2px solid hsl(172deg, 67%, 45%);
}
.cards__item:has(input[type=number]:focus) input {
  color: hsl(183deg, 100%, 15%);
}
.cards__item:has(input[type=number]:focus) input::-webkit-input-placeholder {
  color: transparent;
}
.cards__item:has(input[type=number]:focus) input::-moz-placeholder {
  color: transparent;
}
.cards__item:has(input[type=number]:focus) input:-ms-input-placeholder {
  color: transparent;
}
.cards__item:has(input[type=number]:focus) input::-ms-input-placeholder {
  color: transparent;
}
.cards__item:has(input[type=number]:focus) input::placeholder {
  color: transparent;
}
.cards__item:last-child {
  background-color: hsl(189deg, 41%, 97%);
}
.cards input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.cards input[type=number] {
  background-color: transparent;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}
.cards input[type=number]::-webkit-input-placeholder {
  text-align: center;
}
.cards input[type=number]::-moz-placeholder {
  text-align: center;
}
.cards input[type=number]:-ms-input-placeholder {
  text-align: center;
}
.cards input[type=number]::-ms-input-placeholder {
  text-align: center;
}
.cards input[type=number]::placeholder {
  text-align: center;
}

.result {
  height: 100%;
}
.result__inner {
  background-color: hsl(183deg, 100%, 15%);
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.result__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.result__text_main {
  color: hsl(0deg, 0%, 100%);
}
.result__text_secondary {
  color: hsl(186deg, 14%, 43%);
}
.result__number {
  color: hsl(172deg, 67%, 45%);
  font-size: 250%;
}
.result__btn {
  margin-top: auto;
  width: 100%;
  opacity: 0.1;
}
.result__btn button {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.3rem 0;
  width: 100%;
  color: inherit;
  font-size: 24px;
  font-family: inherit;
  background-color: hsl(172deg, 67%, 45%);
  text-transform: uppercase;
}
.result__btn.active {
  opacity: 1;
}
.result__btn.active:hover button {
  background-color: hsl(185deg, 41%, 84%);
}