@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
// - Font size (form inputs): 24px
/* remove input number arrow if need */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}
// colors
$white: hsl(0, 0%, 100%);
$bodyBg: hsl(185, 41%, 84%);

$activeCard-btn-result: hsl(172, 67%, 45%);
$activeFont-bgMainCard: hsl(183, 100%, 15%);

$textMain: hsl(186, 14%, 43%);
$textSecondary: hsl(184, 14%, 56%);
$text_white: hsl(189, 41%, 97%);

*,
*::after,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	background-color: $bodyBg;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	min-height: 100%;
}
h1 {
	font-size: inherit;
	text-transform: uppercase;
	color: $textMain;
	text-align: center;
	letter-spacing: 0.3rem;
	margin: 2rem 0 3rem;
}
h2 {
	font-size: initial;
}
.container {
	background-color: $white;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	border-radius: 1rem;
	padding: 1rem;
}

.main {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	&__inner {
		flex: 1 1 calc(50% - 1rem);
	}

	&__bill {
		color: $textMain;
	}
}

.bill {
	&__header {
		margin-bottom: 1rem;
	}
	margin-bottom: 1rem;
	&__input {
		position: relative;
		input {
			font-size: 24px;
			width: 100%;
			padding: 0 1rem 0 2.5rem;
			background-color: $text_white;
			text-align: right;
			border-radius: 0.3rem;
			font-family: inherit;
			color: $activeFont-bgMainCard;
			&::placeholder {
				opacity: 1;
			}
		}
		&::before {
			position: absolute;
			left: 1rem;
			top: 0;
		}
		&.people-count::before {
			content: url(../images/icon-person.svg);
		}
		&.total-cost::before {
			content: url(../images/icon-dollar.svg);
		}
	}
}

.tip {
	&__header {
		margin-bottom: 1rem;
	}
}

.cards {
	font-size: 24px;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
	width: auto;
	justify-content: center;
	&__item {
		position: relative;
		border-radius: 0.5rem;
		padding: 0.5rem 0;
		flex: 1 1 30%;
		text-align: center;
		background-color: $activeFont-bgMainCard;
		color: $white;
		overflow: hidden;
		cursor: pointer;
		border: 2px solid transparent;
		&:hover {
			background-color: $bodyBg;
			color: $activeFont-bgMainCard;
		}
		&:has(input[type="radio"]:checked) {
			background-color: $activeCard-btn-result;
			color: $activeFont-bgMainCard;
		}
		&:has(input[type="number"]:focus) {
			border: 2px solid $activeCard-btn-result;
			input {
				// text-align: center;
				color: $activeFont-bgMainCard;
				&::placeholder {
					color: transparent;
				}
			}
		}
		&:last-child {
			background-color: $text_white;
		}
	}
	input[type="radio"] {
		appearance: none;
		display: none;
	}
	input[type="number"] {
		background-color: transparent;
		max-width: 100%;
		font-family: inherit;
		font-size: inherit;
		text-align: center;
		&::placeholder {
			text-align: center;
		}
	}
}

.result {
	height: 100%;

	&__inner {
		background-color: $activeFont-bgMainCard;
		height: 100%;
		border-radius: 1rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__person {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	&__text {
		&_main {
			color: $white;
		}
		&_secondary {
			color: $textMain;
		}
	}
	&__number {
		color: $activeCard-btn-result;
		font-size: 250%;
	}

	&__btn {
		margin-top: auto;
		width: 100%;
		opacity: 0.1;
		button {
			cursor: pointer;
			border-radius: 0.5rem;
			padding: 0.3rem 0;
			width: 100%;
			color: inherit;
			font-size: 24px;
			font-family: inherit;
			background-color: $activeCard-btn-result;
			text-transform: uppercase;
		}
		&.active {
			opacity: 1;
			&:hover button {
				background-color: $bodyBg;
			}
		}
	}
}

.bill__heading {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.errormsg {
	color: rgb(253, 124, 38);
	display: none;
	&.active {
		display: unset;
	}
}

@media screen and (max-width: 425px) {
	main,
	.cards__item {
		font-size: 70%;
	}
}
